html {
  font-family: 'Roboto', 'NanumSquare';
  font-size: 100%;
}
body {
  margin: 0;
  background-image: url('about_bg.png');
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-color: #e4e4e4;
}
a {
  color: #000;
  text-decoration: none;
}

/* header */
header {
  position: fixed;
  z-index: 800;
  top: 10%;
  font-weight: 700;
}
#logo {
  position: fixed;
  left: 8%;
}
#about {
  position: fixed;
  right: 8%;
}

/* email */
#email {
  position: fixed;
  top: 50%;
  left: 8%;
  font-size: 80%;
  font-weight: 700;
  font-style: italic;
  writing-mode: vertical-rl;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
}
#email:hover {
  text-decoration: overline;
}

/* content */
#content {
  margin: 30vh auto 0 auto;
  width: 60%;
  font-weight: 300;
  font-style: italic;
}

/* title */
.title {
  margin: 0 0 15vh 0;
}

.ti01 {
  letter-spacing: -0.2vw;
  line-height: 120%;
  font-size: 4vw;
  margin: 0 0 4vh 0;
}
.ti01 span {
  font-weight: 700;
}
.ti02 {
  font-size: 1.5vw;
  font-weight: 400;
  margin: 0;
}
.year::after {
  display: inline-block;
	content: "";
	background: #000;
  width: 4vw;
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0 15px 1vh 15px;
}

/* txt */
.txt {
  float: right;
  font-size: 1.4vw;
  line-height: 150%;
  margin: 0 0 15vh 0;
}
.txt p {
  margin: 0 0 3vh 0;
}
.txt .kr {
  font-style: normal;
  margin: 0 0 8vh 0;
}
.txt span {
  font-weight: 700;
}
.txt span:hover {
  text-decoration: underline;
}

/* footer */
footer {
  position: fixed;
  right: 8%;
  bottom: 10%;
  font-weight: 300;
  font-size: 80%;
  color: #666;
}

/* transform: skew(-0.03deg) 나눔스퀘어 사용 시 */
