/* header */
header {
  font-size: 15px;
  top: 7%;
}

#logo {
  font-size: 18px;
  letter-spacing: 1px;
}

nav li:first-child {
  margin: 0 30px 0 0;
}

/* section == contact */
#contact {
  display: none;
}

/* section == about */
#about {
  max-width: 80%;
  margin: 20vh auto 0 auto;
}

.about_title {
  margin: 0 0 10vw 0;
}

.ti01 {
  font-size: 8vw;
  margin: 0 0 3vw 0;
}

.ti02 {
  font-size: 5vw;
}

.bu::after {
  width: 7vw;
	height: 1px;
	margin: 0 2.5vw 1.1vw 2.5vw;
}

.about_content {
  width: 80%;
  font-size: 5vw;
  line-height: 150%;
  margin: 0 0 15vh 0;
}

.ti03 .kr {
  font-size: 4.8vw;
}

.ti03, .ti04 {
  margin: 0 0 15vw 0;
}

.ti03 p:first-child, .ti04 p:first-child {
  margin: 0 0 8vw 0;
}

.ti05 span {
  margin: 0 5vw 0 0;
}

.hover:after {
  display: none;
}

.hover {
  text-decoration: underline;
}

/* footer */
footer {
  bottom: 7%;
}

.name {
  font-size: 10px;
}

.m_contact {
  position: fixed;
  display: inline;
  font-weight: 700;
  font-size: 14px;
  left: 8%;
}
